{% extends 'base.html.twig' %}

{% block title %}
    Semestres
{% endblock %}

{% block body %}
<div class="row">
    {% for semestre in semestres %}
        <div class="card" style="width: 21rem; margin-right: 2rem; margin-top: 1rem;">
            <div class="card body">
                <h3 class="card-title">Semestre numero {{ semestre.numeroSemestre }}, {{ semestre.nomFormation }}</h3>

                <div class="list-group">
                    {% for cour in semestre.cours %}
                        <a class="list-group-item list-group-item-action" href="{{ path('cour_show',{id:cour.id}) }}"> {{cour.nom}} </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}


