{% extends 'base.html.twig' %}

{% block title %}
Bienvenu sur mon site
{% endblock %}

{% block body %}
    <h2>Bienvenu sur le site web de l'université</h2>

    <p>Vous pouvez utiliser la barre de navigation pour vous déplacer sur le site web</p>


{% endblock %}
